Package: cvrdecode
Version: VERSION
Section: contrib/utils
Priority: optional
Architecture: all
Depends: default-jdk, libbzdev-java (>= 1.3.7), libzxing-core-java (>= 3.4.1), libzxing-java (>= 3.4.1), libzxing-javase-java (>=3.4.1)
Maintainer: Bill Zaumen <bill.zaumen+software@gmail.com>
Description: Utility that processes QR codes and  shc URIs
 provided by the California Department of Public Health as
 proof of COVID-19 vaccination. These digital vaccination
 records are signed using elliptic-curve public-key
 encryption and the signatures are verified. The output is
 a CSV (Comma-Separated Values) file containing a sorted
 list, each row of which contains a family name, given
 names, a birthdate, the last vaccination date, and boolean
 values indicating that the owner of the record has been
 fully vaccinated and that the signature was valid.
