Package: cvrdecode
Version: VERSION
Section: contrib/utils
Priority: optional
Architecture: all
Depends: default-jdk, libbzdev-java (>= 2.1.65), libzxing-core-java (>= 3.4.1), libzxing-java (>= 3.4.1), libzxing-javase-java (>=3.4.1)
Maintainer: Bill Zaumen <bill.zaumen+software@gmail.com>
Description: Utility that processes QR codes and  shc URIs
 provided by the California Department of Public Health as
 proof of COVID-19 vaccination. These digital vaccination
 records are signed using elliptic-curve public-key
 encryption and the signatures are verified. The output is
 a CSV (Comma-Separated Values) file containing a sorted
 list, each row of which contains a family name, given
 names, a birthdate, the last vaccination date, and boolean
 values indicating that the owner of the record has been
 fully vaccinated and that the signature was valid. The
 fully-vaccinated boolean value is followed by the number
 of vaccinations in parentheses.  A final value provides
 a name (typically a file name or ZIP-file entry) that
 used as a reference.  This reference may be prefaced with
 a number in square brackets to indicate where the public
 key used to validate a record came from.  A short table
 at the very end of the file shows the host names
 corresponding to these numbers.
